<ng-container *ngIf="!!carteira">
    <app-carteira-lista-ativos [carteira]="carteira" (itemClicado)="ativoSelecionado($event)"/>
    <button type="button" class="btn btn-primary" (click)="adicionarAtivo()">
        Adicionar
    </button>
    <ng-container *ngIf="!! carteiraItem">
        <app-carteira-item-form 
            [carteiraItem]="carteiraItem" 
            (excluido)="excluirAtivo($event)"
            (cancelado)="cancelarEdicaoAtivo()"
            (salvo)="salvarCarteiraItem($event)"
            />
    </ng-container>
</ng-container>
<pre class="debug">
    {{carteira | json}}
</pre>