<input type="checkbox" name="expandido" id="expandido" [(ngModel)]="expanded">
<table class="table table-striped" *ngIf="total">
    <thead>
        <tr class="table-dark">
            <th>Classe</th>
            <th class="text-center">Financeiro</th>
            <th class="text-center">% Planejado</th>
            <th class="text-center">% Atual</th>
            <th class="text-center">% Dif.</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alocacao of alocacoes">
            <th>
                <ng-container *ngIf="expanded; else TipoCarteira">
                    <a href="javascript:void(0)" (click)="alocacao.id && editarCarteira(alocacao.id)">
                        {{alocacao.carteira}}
                    </a>
                </ng-container>
                <ng-template #TipoCarteira>
                    {{alocacao.tipo}} - {{alocacao.moeda}}
                </ng-template>
            </th>
            <td class="text-end">{{alocacao.valor | currency:'BRL'}}</td>
            <td class="text-end">{{alocacao.planejado | percent:'1.2-4'}}</td>
            <td class="text-end">{{alocacao.atual | percent:'1.2-4'}}</td>
            <td class="text-end" [negativo]="diferencaPerc(alocacao)">{{diferencaPerc(alocacao)| percent:'1.2'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="table-secondary">
            <th>{{total.carteira}}</th>
            <td class="text-end">{{total.valor | currency:'R$'}}</td>
            <td class="text-end">{{total.planejado | percent:'1.2-4'}}</td>
            <td class="text-end">{{total.atual | percent:'1.2-4'}}</td>
            <td></td>
        </tr>
    </tfoot>
</table>
<pre class="debug">{{ alocacoes | json}}</pre>