<div class="text-end ms-auto">
    <div class="d-inline-block menu-item" ngbDropdown>
        <button type="button" class="btn btn-sm btn-light" ngbDropdownToggle>
            Filtrar
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button type="button" ngbDropdownItem *ngFor="let moeda of moedas" (click)="filtrarMoeda(moeda)">{{siglaMoeda(moeda) | capitalize}}</button>
            <div class="dropdown-divider"></div>
            <button type="button" ngbDropdownItem *ngFor="let tipoAtivo of tiposAtivo" (click)="filtrarTipoAtivo(tipoAtivo)">{{tipoAtivo | capitalize}}</button>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>TipoAtivo</th>
            <th>Moeda</th>
            <th>Cotação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ativo of ativos">
            <td>
                <a href="javascript:void(0)" (click)="editarAtivo(ativo)">{{ativo.nome}}</a>
            </td>
            <td>{{ativo.sigla}}</td>
            <td>{{ativo.tipoAtivo}}</td>
            <td>{{ativo.moeda}}</td>
            <td>{{ativo.cotacao}}</td>
        </tr>
    </tbody>
</table>