<p>calendario-mensal works!</p>
<pre>
    dataSelecionada: {{ dataSelecionada }}

    primeiroDiaMes: {{ primeiroDiaMes }}

    primeiraDataMes: {{primeiraDataMes}}

    ultimaDataMes: {{ultimaDataMes}}

    diasNoMes: {{diasNoMes}}
</pre>

<button class="btn btn-primary" (click)="mesAnterior()">Anterior</button>
<button class="btn btn-primary" (click)="mesPosterior()">Posterior</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <td class="text-center" *ngFor="let dia of ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb']; let i = index">{{dia}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let linha of [].constructor(6); let iLinha = index">
            <td *ngFor="let dia of [].constructor(7); let iColuna = index" class="p-0 m-0">
                <div class="data" (click)="dataSelecionada=getData(iLinha, iColuna)">
                    <app-calendario-celula
                        [dataSelecionada]="dataSelecionada"
                        [data]="getData(iLinha, iColuna)"
                        [primeiraDataMes]="primeiraDataMes"
                        [ultimaDataMes]="ultimaDataMes"
                        [eventos]="getEventos(iLinha, iColuna)"
                    />
                </div>
            </td>
        </tr>
    </tbody>

</table>

<pre>
    {{primeiraDataMes}}

    {{ultimaDataMes}}
</pre>
