<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <td class="text-center" *ngFor="let dia of ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb']; let i = index">{{dia}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let linha of celulas; let iLinha = index" class="cell-row">
            <td *ngFor="let celula of linha; let iColuna = index" class="p-0 m-0" [ngClass]="{'mes-corrente': celula.mesCorrente}">
                <div class="data" (click)="dataClick(celula.data)" (contextmenu)="menuContexto(celula.data, $event)">
                    <app-calendario-mensal-celula
                        [dataSelecionada]="dataSelecionada"
                        [data]="celula.data"
                        [primeiraDataMes]="primeiraDataMes"
                        [ultimaDataMes]="ultimaDataMes"
                        [eventos]="celula.eventos"
                        [mesCorrente]="celula.mesCorrente"
                        (eventoClicked)="eventoClick($event)"
                        [templateDataConteudo]="templateDataConteudo"
                        [templateListaEventos]="templateListaEventos"
                        [templateEventoDetalhes]="eventoDetalheTemplate"
                    />
                </div>
            </td>
        </tr>
    </tbody>
</table>