<p>despesas-list works!</p>

<table *ngIf="!!pagamentos" class="table">
    <thead>
        <tr>
            <td>Despesa</td>
            <td>Dia Venc.</td>
            <td *ngFor="let mes of meses" [style.font-weight]="mes === mesCorrente ? 'bold' : null" >
                {{mes}}
            </td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let classe of classesDespesas">
            <td>
                {{classe}}
            </td>
            <td>{{diaVencimento(classe)}}</td>
            <td *ngFor="let mes of meses">

                <div *ngIf="!! pagamentos[classe][mes]; else DespesaUndefined" class=" text-end">
                    <ng-container
                        [ngTemplateOutlet]="pagamentos[classe][mes]?._id ? textPagto : criarPagto" 
                        [ngTemplateOutletContext]="{mes,pagamento:pagamentos[classe][mes],name:'pagto_'+mes+'_'+(pagamentos[classe][mes]?._id || 0)}">
                    </ng-container>
                    <!-- <ng-container 
                        [ngTemplateOutlet]="anteriorMesCorrente(mes) ?  textPagto : inputPagto" 
                        [ngTemplateOutletContext]="{mes,despesa:pagamentos[classe][mes],name:'pagto_'+mes+'_'+(pagamentos[classe][mes]?._id || 0)}">
                    </ng-container> -->
                </div>
            </td>
            <td>
                {{totaisClasse[classe] | number:'1.2-2'}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Totais:</td>
            <td *ngFor="let mes of meses">{{totaisMes[mes] | number:'1.2-2'}}</td>
        </tr>
    </tfoot>
</table>

<pre class="debug">{{ pagamentos | json }}</pre>
<a routerLink="/despesas/edit">Criar Despesa</a>
|
<a routerLink="/despesas/pagamentos">Pagamentos</a>

<ng-template #textPagto let-mes="mes" let-pagamento="pagamento" let-classe>
    <!-- <a [routerLink]="['/despesas/edit/', pagamento._id]" class="despesa-valor pago"> -->
    <a href="javascript:void(0)" (click)="abrirDespesaForm(pagamento, 'Edição pagamento')" class="despesa-valor" [ngClass]="{'pago': !!pagamento.dataPagamento, 'salvo': !pagamento.dataPagamento}">
        {{ pagamento.valor | number : '1.2-2' }}
    </a>
</ng-template>

<ng-template #criarPagto let-mes="mes" let-pagamento="pagamento">
    <a href="javascript:void(0)" (click)="abrirDespesaForm(pagamento, 'Cadastro pagamento')" class="despesa-valor">
        {{ pagamento.valor | number : '1.2-2' }}
    </a>
</ng-template>

<ng-template #DespesaUndefined >
    -
</ng-template>