<p>despesas-list works!</p>

<table *ngIf="!!pagamentos">
    <thead>
        <tr>
            <td>Despesa</td>
            <td>Dia Venc.</td>
            <td *ngFor="let mes of meses" [style.font-weight]="mes === mesCorrente ? 'bold' : null" >
                {{mes}}
            </td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let classe of classesDespesas">
            <td>
                <a [routerLink]="['/despesas/edit/', !! pagamentos[classe][mesCorrente]?._id ? pagamentos[classe][mesCorrente]?._id : pagamentos[classe][mesCorrente]?.origem]">
                    {{classe}}
                </a>
            </td>
            <td>{{diaVencimento(classe)}}</td>
            <td *ngFor="let mes of meses">

                <div *ngIf="!! pagamentos[classe][mes]; else DespesaUndefined">
                    <ng-container 
                        [ngTemplateOutlet]="anteriorMesCorrente(mes) ?  textPagto : inputPagto" 
                        [ngTemplateOutletContext]="{mes,despesa:pagamentos[classe][mes],name:'pagto_'+mes+'_'+(pagamentos[classe][mes]?._id || 0)}">
                    </ng-container>
                </div>
            </td>
            <td>
                {{totaisClasse[classe] | number:'1.2-2'}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Totais:</td>
            <td *ngFor="let mes of meses">{{totaisMes[mes] | number:'1.2-2'}}</td>
        </tr>
    </tfoot>
</table>

<pre class="debug">{{ pagamentos | json }}</pre>
<a routerLink="/despesas/edit">Criar Despesa</a>
|
<a routerLink="/despesas/pagamentos">Pagamentos</a>

<ng-template #inputPagto let-mes="mes" let-despesa="despesa" let-name="name">
        <input type="number" requires step="0.01" [name]="name" [(ngModel)]="despesa.valor" />
</ng-template>

<ng-template #textPagto let-mes="mes" let-despesa="despesa">
    {{ despesa.valor | number : '1.2-2' }}
</ng-template>

<ng-template #DespesaUndefined >
    -
</ng-template>