<div class="row text-center">
  <div class="col-md-4 text-start">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="mesAnterior()">Anterior</div>
      <div class="btn btn-outline-secondary" (click)="hoje()">Hoje</div>
      <div class="btn btn-primary" (click)="mesPosterior()">Posterior</div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <input type="month" name="selectorMes" class="form-control" [(ngModel)]="viewDateStr" onfocus="showPicker()" onclick="showPicker()"/>
  </div>
  <div class="col-md-4 text-end">
    <div class="form-group">
      <label for="slIniciao">Sl. Inicial</label>
      <input type="number" name="slInicial" id="slInicial" [(ngModel)]="saldoInicial" step="0.01">
    </div>

    <button (click)="obterEventos()" class="btn btn-success">
      Atualizar
      <span class="fs-4 lh-1 m-0 p-0">&#10227;</span>
    </button>
  </div>
</div>
<br />

<app-calendario-mensal 
  [eventos]="eventos" 
  [(dataSelecionada)]="viewDate" 
  (dataClicked)="abrirPopup($event)"
  (eventoClicked)="handleEvent($event)"
  [eventoDetalheTemplate]="detalhesEvento"
  [templateDataConteudo]="detalheDia"
   />

<app-popup-menu>
  <h6 class="title border-bottom">Escolha uma opção</h6>
  <div class="items">
    <a class="popup-item" *ngFor="let evento of eventosContexto" (click)="handleEvent(evento)">
      <span class="led" [style.backgroundColor]="evento.cor"></span>
      {{evento.titulo}}
    </a>
    <a class="popup-item text-primary border-top" (click)="criarEvento()">
      <span class="led"></span>
      Nova transação
    </a>
  </div>
</app-popup-menu>

<ng-template #detalheDia let-dia="dia" let-data="data">
  <ng-container *ngIf="!!dia && dataNoMesSelecionado(data) && saldos[dia-1]">
    <div>
      <h6>Resumo</h6>
      <div class="text-end p2" [negativo]="saldos[dia-1].inicio">{{saldos[dia-1].inicio}}</div>
      <div class="text-end p2 border-bottom">{{saldos[dia-1].transacoes}}</div>
      <div class="text-end p2" [negativo]="saldos[dia-1].fim">{{saldos[dia-1].fim}}</div>
    </div>
  </ng-container>
</ng-template>

<ng-template #detalhesEvento let-evento="evento">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{evento.titulo}}</h5>
      <p class="card-text text-nowrap">
        <small class="text-muted">{{evento.data | date:'dd/MM/yyyy'}}</small>
        <small class="text-muted" *ngIf="evento.meta.dataFinal"> - {{evento.meta.dataFinal | date:'dd/MM/yyyy'}}</small>
      </p>
      <p class="card-text">{{evento.meta?.categoria}}</p>
      <p class="card-text">{{evento.meta?.valor | currency:'BRL'}}</p>
    </div>
  </div>
</ng-template>

<pre class="debug">
  {{viewDate | date:'yyyy-MM-dd'}}
  {{eventos | json}}
</pre>
