<button (click)="obterEventos()">
    Atualizar
  </button>
  <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="mesAnterior()">Anterior</div>
          <div class="btn btn-outline-secondary" (click)="hoje()">Hoje</div>
          <div class="btn btn-primary" (click)="mesPosterior()">Posterior</div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | date:'MMMM / yyyy' }}</h3>
      </div>
    </div>
    <br />
    
    <app-calendario-mensal
      [eventos]="eventos"
      [(dataSelecionada)]="viewDate"
      (eventoClicked)="handleEvent($event)" />
    
    <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
    
    <br /><br /><br />
    <pre>
      {{viewDate | date:'yyyy-MM-dd'}}
      {{eventos.length}}
      {{eventos | json}}
    </pre>
    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Event:
          <pre>{{ modalData.evento | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          OK
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="editar()">
          Editar
        </button>
      </div>
    </ng-template>