<div class="modal-header">
    <h4 class="modal-title">{{titulo}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dispensar()"></button>
</div>
<div class="modal-body">
    <app-transacao-form
        [transacao]="transacao"
        (onSalvar)="salvar()"
        (onCancelar)="cancelar()">
    </app-transacao-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="pagoNaData()">Pago na Data</button>
    <button type="button" class="btn btn-default" (click)="pagoHoje()">Pago hoje</button>
    <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
</div>
