<p>pagamento-mensal works!</p>
<table>
    <thead>
        <tr>
            <td>Despesa</td>
            <td>Dia Venc.</td>
            <td>Pag. Mensal</td>
            <td>A pagar dia 10</td>
            <td>A pagar dia 20</td>
            <td>Pago</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let registro of pagamentos; index as idx">
            <td>{{registro.despesa.nome}}</td>
            <td>{{registro.despesa.diaVencimento}}</td>
            <td>
                <input type="number" step="0.01" name="registro" [(ngModel)]="registro.valor" 
                    (ngModelChange)="valorAlterado(registro)" [id]="'registro_'+idx"/>
            </td>
            <td><span *ngIf="registro.despesa.diaVencimento < 20">{{registro.valor}}</span></td>
            <td><span *ngIf="registro.despesa.diaVencimento >= 20">{{registro.valor}}</span></td>
            <td>
                <!-- {{registro.dataPagamento | date:'dd/MM'}} -->
                <input type="checkbox" name="pago" [(ngModel)]="registro.pago" 
                    (ngModelChange)="valorAlterado(registro)" />
            </td>
        </tr>
    </tbody>
</table>
<pre>
    {{pagamentos | json}}
</pre>