<div class="g-3">
    <form class="form-floating">
        <div class="form-group row p-2">
            <label for="paga" class="col-2">Despesa</label>
            <input type="text" class="form-control col" id="descricao" [(ngModel)]="despesa.descricao" name="descricao">
            <label for="valor" class="col-1">Valor</label>
            <input type="number" step=".01" class="form-control col text-end" id="valor" [(ngModel)]="despesa.valor" required name="valor" step=".01">
        </div>

        <div class="form-group row p-2">
            <label for="dataVencimento" class="col-2">Data Vencimento</label>
            <input type="date" class="form-control col" id="dataVencimento" [(ngModel)]="despesa.dtVencimentoStr" required name="dataVencimento">
            <label for="dataFinal" class="col-1">Data Final</label>
            <input type="date" class="form-control col" id="dataFinal" [(ngModel)]="despesa.dtFinalStr" name="dataFinal">
            <label for="dataPagamento" class="col-2">Data Pagamento</label>
            <input type="date" class="form-control col" id="dataPagamento" [(ngModel)]="despesa.dtPagamentoStr" name="dataPagamento">
        </div>
    
        <div class="form-group row p-2">
            <label for="categoria" class="col-2">Categoria</label>
            <select class="form-control col" name="categoria" id="categoria" [(ngModel)]="despesa.categoria">
                <option [value]="undefined">Selecione...</option>
                <option [value]="categoria" *ngFor="let categoria of categorias">{{categoria}}</option>
            </select>
            
            <label for="liquidacao" class="col-1">Liquida em</label>
            <select class="form-control col" name="liquidacao" id="liquidacao" [(ngModel)]="despesa.liquidacao">
                <option [value]="undefined">Selecione...</option>
                <option [value]="liquidacao" *ngFor="let liquidacao of liquidacoes">{{liquidacao}}</option>
            </select>

            <label for="periodicidade" class="col-2">Periodicidade</label>
            <select name="periodicidade" class="form-control col" id="periodicidade" [(ngModel)]="despesa.periodicidade">
              <option [value]="undefined">Selecione...</option>
              <option [value]="periodicidade" *ngFor="let periodicidade of periodicidades">{{periodicidade}}</option>
            </select>
        </div>
    </form>
</div>
<pre class="debug">
{{despesa | json}}
</pre>
