<table class="table table-striped table-success">
    <thead>
        <tr class="table-dark">
            <th></th>
            <th class="text-center" *ngFor="let previsao of previsoes | keyvalue: originalOrder">{{previsao.key}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-start">Saldo Inicial</th>
            <td class="text-end" *ngFor="let previsao of previsoes | keyvalue: originalOrder">{{previsao.value.saldo | number:'1.2-2'}}</td>
        </tr>
        <tr>
            <th class="text-start">Recebíveis</th>
            <td class="text-end" *ngFor="let previsao of previsoes | keyvalue: originalOrder">{{previsao.value.recebiveis | number:'1.2-2'}}</td>
        </tr>
        <tr>
            <th class="text-start">Despesas</th>
            <td class="text-end" *ngFor="let previsao of previsoes | keyvalue: originalOrder">{{-previsao.value.despesas | number:'1.2-2'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="table-secondary">
            <th class="text-start">Previsão</th>
            <th class="text-end" *ngFor="let previsao of previsoes | keyvalue: originalOrder">{{previsao.value.previsao | number:'1.2-2'}}</th>
        </tr>
    </tfoot>
</table>