<p>carteira-item-form works!</p>
<form (ngSubmit)="onSubmit()">
  <label for="ativo">Ativo:</label>
  <input type="text" id="ativo" name="ativo" [(ngModel)]="carteiraItem.ativo.sigla">

  <label for="qtd">Quantidade:</label>
  <input type="number" id="qtd" name="qtd" [(ngModel)]="carteiraItem.ativo.qtd">

  <label for="vlUnitario">Valor Unitário:</label>
  <input type="number" id="vlUnitario" name="vlUnitario" [(ngModel)]="carteiraItem.ativo.vlUnitario">

  <label for="vlInicial">Valor Inicial (opcional):</label>
  <input type="number" id="vlInicial" name="vlInicial" [(ngModel)]="carteiraItem.ativo.vlInicial">

  <label for="valor">Valor:</label>
  <input type="number" id="valor" name="valor" [(ngModel)]="carteiraItem.ativo.valor">

  <label for="objetivo">Objetivo:</label>
  <input type="number" id="objetivo" name="objetivo" [(ngModel)]="carteiraItem.objetivo">

  <label for="tipo">Tipo</label>
  <select name="tipo" id="tipo" [(ngModel)]="carteiraItem.ativo.tipoAtivo">
    <option [value]="undefined">Selecione...</option>
    <option [value]="tipo" *ngFor="let tipo of tipos">{{tipo}}</option>
  </select>

  <label for="moeda">Moeda</label>
  <select name="moeda" id="moeda" [(ngModel)]="carteiraItem.ativo.moeda">
    <option [value]="undefined">Selecione...</option>
    <option [value]="moeda" *ngFor="let moeda of moedas">{{sigla(moeda)}} {{moeda}}</option>
  </select>

  <button type="submit" class="btn btn-success">Salvar</button>
  <button type="button" class="btn" (click)="onCancelar()">Cancelar</button>
  <button type="button" class="btn btn-danger" (click)="onExcluir()">Excluir</button>
</form>
<pre>
  {{carteiraItem | json}}
</pre>