<select name="tipoPeriodo" [(ngModel)]="visao">
    <option [value]="tipo" *ngFor="let tipo of tiposPeriodo">{{tipo}}</option>
</select>
<table *ngIf="!!linhas" class="table">
    <thead>
        <tr>
            <td>Transação</td>
            <td>Dia Venc.</td>
            <td *ngFor="let periodo of periodos" [class.active]="periodo === periodoCorrente" >
                {{periodo}}
            </td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let linha of linhas; let idxTransacao = index">
            <td>
                {{linha.nomeTransacao}}
            </td>
            <td>{{linha.diaInicial}}</td>
            <td *ngFor="let celula of linha.celulas" class="text-end">
                <ng-container [ngTemplateOutlet]="!celula.transacoes.length ? semLancamento : celula.ehUnico ? lancamentoUnico: lancamentosMultiplos" [ngTemplateOutletContext]="{celula}"/>
            </td>
            <td class="text-end">
                {{linha.total | number:'1.2-2'}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Totais:</td>
            <td class="text-end" *ngFor="let _ of periodos; let mes = index">{{totalMes(mes) | number:'1.2-2'}}</td>
            <td class="text-end">{{totalGeral | number:'1.2-2'}}</td>
        </tr>
    </tfoot>
</table>

<a (click)="criarTransacao()" href="javascript:void(0)">Criar Transação</a>

<ng-template #semLancamento >
    <div class="text-end">-</div>
</ng-template>

<ng-template #lancamentoUnico let-celula="celula">
    <a href="javascript:void(0)" (click)="editarTransacao(celula.transacoes[0], 'Edição Transação')" class="transacao-valor" 
        [ngClass]="celula.classe">
        {{ celula.total | number : '1.2-2' }}
    </a>
</ng-template>

<ng-template #lancamentosMultiplos let-celula="celula">
    <a href="javascript:void(0)" (click)="abrirPopupTransacoes(celula.transacoes, $event)" class="multiplos-lancamentos" [ngClass]="celula.classe">
        {{ celula.total | number : '1.2-2': 'pt' }}
    </a>
</ng-template>

<app-popup-menu [width]="'350px'">
    <h6 class="title border-bottom">Escolha uma transação</h6>
    <div class="items">
      <a class="popup-item nowrap" *ngFor="let transacao of popupTransacoes" (click)="editarTransacao(transacao, 'Editar transação')" [ngClass]="transacao.tipoTransacao.toLocaleLowerCase()">
        {{transacao.descricao}} - {{transacao.tipoTransacao}} - {{transacao.valor | number: '1.2-2' : 'pt'}}
      </a>
    </div>
</app-popup-menu>

<ng-template #criarPagto let-periodo="periodo" let-lancamento="lancamento">
    <a href="javascript:void(0)" (click)="editarTransacao(lancamento, 'Cadastro transação')" class="transacao-valor">
        {{ lancamento.valor | number : '1.2-2' }}
    </a>
</ng-template>
