input {
    width: 80px;
    text-align: right;
}
a.transacao-valor {
    text-decoration: none;
}
.active {
    font-weight: bold;
}
.debito {
    color: red;
}
.credito {
    color: green;
}
.liquidado {
    font-weight: bold;
}
.credito.projecao {
    color: lightgreen;
}
.debito.projecao {
    color: orange;
}
.semorigem {
    text-decoration: underline;
}
