<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/">Painel</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/transacoes/list">Transação</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/transacoes/calendario">Calendário</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/ativos/lista">Ativos</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/ativos">Carteiras</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contas">Contas</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/patrimonio">Patrimonio</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/patrimonio/previsao">Previsão</a></li>
        </ul>
    </div>
</nav>
